<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Booking.Properties.Settings.BookingConnectionString"
            connectionString="Data Source=DESKTOP-R2UE47B\SQLEXPRESS;Initial Catalog=Booking;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Booking.Properties.Settings.BookingDatabaseConnectionString"
            connectionString="Data Source=DUSAN-PC;Initial Catalog=BookingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>